.place__paragraphs {
  display: flex;
  flex-direction: column;
  align-self:flex-end;
  max-width: 352px;
  box-sizing: border-box;
}


@media screen and (max-width: 768px) {
  .place__paragraphs{
    max-width: 352px;
  }
}

