
.footer__links{
  font-weight: normal;
}

@media screen and (max-width: 425px) {
  .footer__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 158px;
  }
}
