.lead__span{
  font-size: 96px;
  text-align: center;
  font-weight: bold;
  max-width: 720px;
  line-height: 100px;
  margin-left: 152px;
  margin-right: 152px;
  -webkit-margin-before: 0;
  margin-block-start: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0;
}

@media screen and (max-width: 1024px) {
  .lead__span{
    font-style: bold;
  }
}

