.intro__title {
  font-size: 5vw;
  font-weight: bolder;
  max-width: 690px;
  -webkit-margin-before: 0;
  margin-block-start: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0;
  -webkit-margin-start: 0;
  margin-inline-start: 0;
  -webkit-margin-end: 0;
  margin-inline-end: 0;
}

@media screen and (min-width: 1280px) {
  .intro__title{
    max-width: 690px;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-size: 5vw;
   }
}

@media screen and (min-width: 1025px) {
  .intro__title{
    max-width: 690px;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-size: 3.4vw;
  }
}


@media screen and (max-width: 1024px) {
  .intro__title{
    max-width: 690px;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-size: 4.5vw;
   }
}


@media screen and (max-width: 768px) {
  .intro__title{
    max-width: 720px;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-size: 4.5vw;
   }
}

@media screen and (max-width: 600px){
  .intro__title{
    width: 500px;

  }
}

@media screen and (max-width: 500px){
  .intro__title{
    width: 320px;

  }
}

@media screen and (max-width: 425px) {
  .intro__title{
    width: 250px;
    font-size: 32px;
    line-height: 35px;
  }
}
